<div class="container">
  <section class="col-2-3">
  <h1>Bio:</h1>
  <p>
    My name is Cameron and I was born in Austin, Texas into a military family which means I moved around quite a bit growing up. I've lived in Ohio, Japan, and all over Texas. I went to high school at Montwood in El Paso, TX, played golf for the school for 3 years, and graduated in 2010.
  </p>
  <p>
    After graduating high school I enrolled at Texas Tech University and I wanted to major in Chemical Engineering because I've always had an interest in chemistry and in building things. During my freshman year I attended a meeting where one of my faculty members, Dr. Gill, informed us he was looking for freshman students to do on research for his lab. This peaked my interest because at the time I wanted to get my doctorate and wanted to get a taste of what research was like. I interviewed with Dr. Gill and he selected me and a group of my peers to work with his lab group on certain projects. It was a great experience and I worked with some really helpful and awesome people namely Dr. Gill, Dr. Susan San Fransisco, Dr. Jatindra Tripathy, and Sesha Krishnamachari, and the entire lab group. Despite enjoying the work I did our progress was slow because, frankly, I wasn't prepared to do this kind of research as my studies had just begun. I also learned that research wasn't for me and that I did not want to persue my Doctorate after all. After running out of money for the project, Dr. Gill had to lay me off. It all ended for the best, I think, and I really appreciate the opportunity I had to work with Dr. Gill.
  </p>
  <p>
    My sophomore year was quite a struggle for me and I had my first real encounter with depression, but a headstrong and proud 20 year old me tried to fight through and do it all alone. I just barely scraped by suffering a huge hit to my GPA and was fortunate enough to have been offered a co-op position with Ethicon Endo-Surgery in Albuquerque, NM. Talk about another huge learning experience for me, it was like going from one world into another. I was so used to the way things are done in school so seeing how things worked in a manufacturing environment was an eye opener. Again I had the good fortune to work with a great team of people like Matt Roybal, Cheryl Williams, the Science team, the Operating team, the Mechanic team, and every other group in the plant that I got to work with. I think my biggest takeaway from that experience was that in order to get any work done in the plant you really had to work with and rely on a lot of people involved in the projects. After my co-op was done I went back to school to work on some electives because I missed a semester by working and it set me back a whole year due to the rigidity of my degree plan.
  </p>
  <p>
    My first semster of my junior year went well and I felt like I did good with the difficult classes that I was taking. After attending the fall job fair I ended up with an offer to work as a process engineering intern for Flint Hills Resources at their Corpus Christi Refinery. Needless to say, I was pretty ecstatic to start working as an actual chemical engineer (ok more like a partial engineer as an intern). Then my second semester of Junior year rolled around and I fell hard, it was my second major encounter with depression. I did terribly and I failed a really important class (mass transfer) required to move on with my degree. It was a huge wakeup call for me and I was really torn up about it for the longest time. I went to my summer internship with Flint Hills with my failure weighing heavily on me, I was embarrased and upset with myself. Despite feeling down I worked really hard at my internship and wanted to prove that I could do a good job and that I was a capable engineer. I felt like I accomplished that goal and got a lot of positive feedback from my boss, my mentor, and my co-workers. I ended up having a really great experience working for the refinery, and met a lot of really cool people including Tyner Devine, Richard Ochoa, Jared Lucchessi, and the rest of the Operational Engineering Team.
  </p>
  <p>
    After that summer I took a semester off, went back home, and took a job working a night shift at UPS loading packages in order to save some money for my return to school. I returned to school and re-took the mass-transfer class that I had failed, and started working for Doc's Beer and Wine in Lubbock as a sales associate. That semester I earned the highest marks in mass-transfer and felt like I had come back from catastrophe.
  </p>
  <p>
    My senior year was the year I finally went and got help for the severe depressions that would come and go in my life. I went to the wellness center and started seeing a therapist and when that wasn't enough I made the choice to start taking anti-depressants. It was a game-changer, I've never felt better in my life. Finally I was able to do all the things I wanted to do without the crippling negative thoughts. I had my best semesters my senior year and I met the love of my life who is my now fiancee. I had a great final year. After six gruelling years of being in and out of school I finally graduated with my Chemical Engineering Degree.
  </p>
  <p>
    Now I am living with my fiancee in Dumas, TX because she has a job working at the Valero Refinery. I am actively seeking employment as an engineer. After graduating I took a position as a paralegal for an attorney in the Dallas Area and worked for them until August. I am no longer employed as the attorney has moved to a new job and does not require a paralegal. In order to keep myself busy I have taught myself how to program and develop webpages using HTML, CSS, JavaScript, Ruby, and Rails. Which I have used to create this webpage.
  </p>

  </section><!--
  --><aside class="col-1-3">
    <%= image_tag("bio1.jpg", class: "image-block") %>
    <%= image_tag("bio2.jpg", class: "image-block") %>
    <%= image_tag("bio3.jpg", class: "image-block") %>
  </aside>
</div>