<div class="container">
  <div class="contact">
    <h1>My Contact Info</h1>
    <h1>phone: (915)345-8115</h1>
    <h1>email: <%= mail_to "cameron.hinojos9@gmail.com" %></h1>
    <h1>facebook: <a href="https://www.facebook.com/profile.php?id=100004810232862"><%= image_tag('facebook.png', size: '32x32', alt: 'facebook') %></a></h1>
    <h1>github: <a href="https://github.com/camhinoj"><%= image_tag('github.png', size: '32x32', alt: 'github') %></a></h1>
    <h1>LinkedIn: <a href="https://www.linkedin.com/in/cameron-hinojos-70229b11b"><%= image_tag('linkedin.png', size: '16x16', alt: 'linkedin') %></a></h1>
    <h2>Please feel free to contact me at any time</h2>
  </div>
</div>
