<div class="container">
  <section class="col-2-3">
    <h1>Resume </h1>
    <div class="education work-block1">
      <h2>Education</h2>
      <p>Texas Tech University &mdash; B.S. Chemical Engineering</p>
      <p>May 22, 2016</p>
      <p>GPA: 3.44</p>
      <p>Presidents List: Spring 2016<p>
      <p>Deans List: Fall 2013, Spring 2011, Fall 2010</p>
      <p>Third Place for Senior Design Poster</p>
    </div>
    <div class="rel-work-exp work-block1">
      <h2>Experience</h2>
      <p>Flint Hills Resources, Corpus Christi TX
      <p>Process Engineering Intern</p>
      <p>05/2014-08/2014</p>
      <ul>
        <li>Optimized distillation tower, saving 3MMBTU/hr energy used and $50K/year</li>
        <li>Simulated processing units in HYSYS including a 60 tray two section distillation tower and heat exchangers in pre-heat train</li>
        <li>Increased crude production by 1000bbl/day by optimizing pre-heat exchanger train generating $750K/year</li>
        <li>Performed safety audits by regularly walking the site to check for safety violations</li>
        <li>Traced pipelines in crude unit with P&amp;ID to check for incorrectly opened valves</li>
        <li>Found faulty instrumentation and put in a work request to have it repaired</li>
      </ul>

      <p>Ethicon Endo-Surgery, Albuquerque NM</p>
      <p>Sterilization Engineering Co-op</p>
      <p>05/2012-01/2013</p>
      <ul>
        <li>Wrote, edited, and revised protocols used in everyday facility operations</li>
        <li>Worked on dose mapping and labeling of instruments</li>
        <li>Inventoried and researched costs of all replacement parts in Sterilization Department</li>
        <li>Researched for DePuy Synthes Companies cross-linking polymers for potential contract</li>
        <li>Designed ergonomic layout to alleviate strain on operators</li>
        <li>Participated in team projects with managers, engineers, and operators</li>
      </ul>


      <p>Texas Tech University, Lubbock TX</p>
      <p>Student Research Assistant</p>
      <p>01/2011-07/2011</p>
      <ul>
        <li>Researched using bacteria to produce custom polypeptides for use in vaccinations</li>
        <li>Designed a genetic fragment to code for custom polypeptide sequence</li>
        <li>Modified plasmids and then inserted the vectors into Escherichia Coli strains</li>
        <li>Analyzed Escherichia Coli colonies for vector uptake by plating on antibiotic plates</li>
        <li>Sequenced plasmid taken from Escherichia Coli to confirm proper fragment annealing</li>
        <li>Used biotechnology like gel electrophoresis, culture growth, and plasmid modification</li>
      </ul>
    </div>
  </section><!--
  --><aside class="col-1-3">
    <h1>Skills</h1>
    <div class="skills work-block2">
      <h2>Engineering</h2>
      <ul>
      <li>Design &amp; Statistical Analysis of Experiments &ndash; completed two full experiments on the effect of reading level on reading speed, and a fifteen factor experiment on golf shots</li>
      <li>Experienced in Minitab Software &ndash; analyzed data from the two full experiments</li>
      <li>Proficient in Aspen HYSYS Simulation Software &ndash; design of two capstone projects</li>
      <li>Creating Diagrams and PFDs in Visio &ndash; multiple reports and projects with diagrams</li>
      <li>Knowledge in the use of mathematical programming languages such as MATLAB and R</li>
      <li>Welding using Oxyacetylene, Stick, and MIG &ndash; including butt, lap, and fillet welds</li>
      <li>Excellent speaking and writing skills, recognized by multiple professors and peers</li>
      </ul>
      <h2>Programming</h2>
      <ul>
      <li>Ruby - Proficient in the ruby programming language to create applications on a local system</li>
      <li>HTML - Understanding and use of the markup language to structure and create a webpage</li>
      <li>CSS - Knowledge of the style sheet to improve layout and overall style of webpages </li>
      <li>JavaScript - Limited knowlege of using scripts in the browser to improve usability</li>
      <li>Rails - Good grasp of using the rails gem in ruby to build the backend of webpages </li>
      <li>SQL - Comprehension of relational databases and how to set them up and perform queries on data (Postgresql, MySQL, SQLite)</li>
      <li>Linux - Slight understanding of the linux operating system running as a server</li>
      </ul> 
   </div>

    <h1>Sample Work</h1>
    <div class="sample work-block2">
      <h2>Programming</h2> 
      <p>This Webpage was built by me using Rails, HTML, and CSS, running on a linux server and I am planning on adding a CMS and creating a simple blog</p>
      <p><%= link_to "Hangman", "https://hidden-basin-13135.herokuapp.com/" %></p>
      <p><%= link_to "Cipher Text", "https://morning-lake-74170.herokuapp.com/" %></p>
      <p>github: <a href="https://github.com/camhinoj"><%= image_tag('github.png', size: '32x32', alt: 'github') %></a></p>
 
    </div>
  </aside>
</div>
